.footer{
    display: flex;
    background-color: rgb(28, 61, 78);
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    max-width: 100%;
    & a{
        text-decoration: none;
        color: white;
        margin: 2em;
    }
}

@media (max-width: 992px){
    
    .footer{
        height: auto;
        align-items:center;
        flex-wrap: wrap;

        & a{
            text-decoration: none;
            color: white;
            margin: .7em;
        }
    }
    
}

@media (max-width: 575px){
    
    .footer{
        height: auto;
        align-items:center;
        flex-wrap: wrap;

        & a{
            text-decoration: none;
            color: white;
            margin: .5em;
        }
    }
    
}