header {
    max-width: 100%;
}

#nav-bar {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    padding-right: 4%;
}

.d-inline-block {
    margin-left: 4%;
}

#item1 {
    color: var(--textcolor);
}

#item {
    color: rgb(185, 182, 182);
}


#ticket {
    color: var(--colorbtn);
}

.navbar-toggler {
    border-color: var(--textcolor);
    margin-right: 4%;
}

@media (max-width: 575px) {

    .d-inline-block {
        margin-left: 2%;
    }

    #nav-bar {
        background-color: var(--bgcolor);
        color: var(--textcolor);
        padding-right: 2%;
    }

}


@media (max-width: 280px) {

    .d-inline-block {
        margin-left: 1%;
    }

    #nav-bar {
        background-color: var(--bgcolor);
        color: var(--textcolor);
        padding-right: 1%;
    }
}